.header h1{
    width: 228px;
    height: 56px;
    flex-shrink: 0;
    color: #000;
    font-family: Caudex;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header p{
    color: #FFF;
    font-family: Caudex;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header h7{
    background-color: green;
    padding: 10px;
    text-align: right;
    color: #000;
} 

.secao{
    margin: auto;
    width: 60%;
}

.Titulo{
    text-align: left;
}